
<ion-view view-title="{{grample.data.grample_name}}">
  <ion-content class="padding">
        <img ng-src="{{grample.data.grample_image_url}}"> 
        <p>Subject: {{grample.subject.name}}</p>
        <p>{{grample.data.grample_description}}</p> 
        <p>Grample by: <a href="mailto:{{grample.owner_info.email}}?subject=Your Grample" ng-if="typeof(grample.owner_info.email)!=='undefined'"> {{grample.owner_info.name}}</a></p>
        <p ng-if="typeof(grample.owner_info.organisation.name)!=='undefined'">Organisation:  {{grample.owner_info.organisation.name}}</p>
  </ion-content>
</ion-view>
