<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Home" icon-off="ion-ios-home" icon-on="ion-ios-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Submit Gramples Tab -->
  <ion-tab title="Submit Grample" icon-off="ion-ios-paperplane-outline" icon-on="ion-ios-paperplane" href="#/tab/submitgrample">
    <ion-nav-view name="tab-submitgrample"></ion-nav-view>
  </ion-tab>

    <!-- Find Grample Tab -->
  <ion-tab title="Find Gramples" icon-off="ion-ios-search-strong" icon-on="ion-ios-search" href="#/tab/findgrample">
    <ion-nav-view name="tab-findgrample"></ion-nav-view>
  </ion-tab>

  <!-- My Gramples Tab -->
  <ion-tab title="My Gramples" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/mygramples">
    <ion-nav-view name="tab-mygramples"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
